.formBox {
  border:2px solid black; 
  width:400px; 
  height: 400px;
  padding:10px;
  background: #D6D3D2; 
  border-radius: 25px;
  margin: auto;
  text-align: center;
}

.container {
  padding-top: 15px;
}

.formBox form{
  display:flex;
  flex-direction:column;
}

html {
  color: black;
  font-family: "Lucida Console", Times, serif;
}


.username {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.password {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 10px;

}

input {
  text-align: center;
  border: 2px solid transparent;
  background-color: white;
  font-size: 25px;
  font-weight: 200;
  border-radius: 10px;
  padding: 8px 8px;
  height: 40px;
  width: 250px;
  margin: 0 auto;
}


.loginFail{
  font-family: "Lucida Console", Times, serif;
  color: red;
  font-weight: bold;
  margin: auto;
  width: 80%;
  padding: 10px;
}