<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Col. Sander's Arsenal</title>
    <link rel="stylesheet" href="LandingCSS.css">
</head>

<body>
    <div id="container">
        <div id="quarter">
            <h1 style="padding-left=10px; font-family: 'Lucida Console', Times, serif;">Welcome {{username}}</h1>
            <form action="/upload" method="GET">
                <button class="UP">UPLOAD</button>
            </form>
                        
            <form action="/logout" method="GET">
                <button class="LGOUT">LOG OUT</button>
            </form>
        </div>
                
        <div class="formBox">

                <form method="get" action="/search">
                        <input type="text" name="q">
                        <button type="submit">Search</button>
                </form>

                <br/>

                {% for item in video_list %}
                <li><a href="/videoPlayer/{{item.vidID}}">{{item.videoTitle}}</a></li>
                {% endfor %}

        </div>
    </div>

<body>

</html>
