<!DOCTYPE html>
<html>

	<head>
		<title>Col. Sander's Arsenal</title>
		<link rel="stylesheet" href="DeleteCSS.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<body>

		<div id="container">
			<div id="quarter">
				<form action="/rtb" method="post">
					<button class="RTB">RETURN TO BROWSE</button>
				</form>
				
				<form action="/logout" method="post">
					<button class="LGOUT">LOG OUT</button>
				</form>
			</div>
			
			<div id="quarter2">
				<form action="/deleteVid" method="post">
					<ul style="list-style-type: none;">
						<li>
							<label for="vidName" class="vidName">Video ID:</label>
							<input type="text" name="vidName">
						</li>
						<li>
							<button class="DLT">DELETE</button>
						</li>
						<p type="text" class="deleteFail">
							Failed File Deletion 
						</p>
					</ul>
				</form>     
			</div>
			
		</div>
		
	</body>

</html>