<!DOCTYPE html>
<html>

<head>
    <title>Col. Sander's Arsenal</title>
    <link rel="stylesheet" href="LandingCSS.css">
</head>

<body>

    <div id="container">
        <div id="quarter">
            <form action="/upload" method="post">
                <button class="UP">UPLOAD</button>
            </form>
			
	    <form action="/delete" method="post">
                <button class="DLT">DELETE</button>
            </form>
			
	    <form action="/logout" method="post">
                <button class="LGOUT">LOG OUT</button>
            </form>
        </div>
		
        <div id="remainder">Content</div>
    </div>

<body>

</html>
