<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <link rel="stylesheet" href="LoginCSS.css">
</head>

	<body>

		<div class="formBox">
		  <form>
			<label for="username" class="username">Username:</label><input id="username">
			<label for="password" class="password">Password:</label><input id="password">

		  </form>
		  <button type="submit" class="submit">Log In</button>
		  <p type="text" class = "loginFail"> That username/password combination doesn't exist</p>

		</div>

	<body>

</html>