<!DOCTYPE html>
<html>

    <head>
        <title>Col. Sander's Aresnal - Login</title>
        <link rel="stylesheet" href="LoginCSS.css">
    </head>

    <body>

        <div class="formBox">
            <form action="/login" method="post">
                <label for="username" class="username">Username:</label>
                <input type="text" name="username">
                <label for="password" class="password">Password:</label>
                <input type="password" name="password">
                <button type="submit" class="submit">Log In</button>
            </form>
        </div>

    </body>

</html>

