<!DOCTYPE html>
<html>

	<head>
		<title>video upload</title>
		<link rel="stylesheet" href="UploadCSS.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

			<!--
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		-->
	<body>

		<div id="container">
			<div id="quarter">
				<form action="/returnToBrowse" method="GET">
					<button class="RTB">RETURN TO BROWSE</button>
				</form>
				
				<form action="/logout" method="GET">
					<button class="LGOUT">LOG OUT</button>
				</form>
				<p type="text" class="uploadFail">Upload Failed</p>
			</div>
			
			<div id="quarter2">
                <form action="/upload" method="GET" enctype="multipart/form-data">
					<ul style="list-style-type: none;">
                        <dl>
							<label for="vidPath" class="vidText">URL TO VIDEO:</label>
							<input class="inputText" type="text" name="urlToVid" autocomplete="off" required>
						</dl>
						<li>
							<label for="vidName" class="vidText">VIDEO TITLE:</label>
							<input class="inputText" type="text" name="vidName">
			  			</li>

                     </ul>
					<button class="UP">UPLOAD</button>
                </form>
				<hr size="10">
				<form action="/upload" method="POST" enctype="multipart/form-data">
					<ul style="list-style-type: none;">
						<dl>
							<input class="inputBox" type="file" name="FileName">
						</dl>


						<li>
							<label for="vidName" class="vidText">VIDEO TITLE:</label>
							<input class="inputText" type="text" name="vidName">
						</li>

					</ul>
					<button class="UP">UPLOAD</button>

				</form>		  
			</div>
			
			
		</div>
		
	</body>

</html>
