<!DOCTYPE html>
<html>

	<head>
		<title>Col. Sander's Arsenal</title>
		<link rel="stylesheet" href="UploadCSS.css">
	</head>

	<body>

		<div id="container">
			<div id="quarter">
				<form action="/returnToBrowse" method="post">
					<button class="RTB">RETURN TO BROWSE</button>
				</form>
				
				<form action="/logout" method="post">
					<button class="LGOUT">LOG OUT</button>
				</form>
			</div>
			
			<div id="quarter2">
				<form action="/uploadVid" method="post">
					<ul style="list-style-type: none;">
						<li>
							<label for="vidPath" class="vidText">URL OR FILEPATH TO VIDEO:</label>
							<input type="text" name="vidPath">
						</li>
						
						<li>
							<label for="vidName" class="vidText">VIDEO TITLE:</label>
							<input type="text" name="vidName">
						</li>
						<button class="UP">UPLOAD</button>
					</ul>
				</form>		  
			</div>
			
		</div>
		
	</body>

</html>